body {
  margin: 0;
  padding: 0;
  font-family:sans-serif; 
  box-sizing: border-box; 
  background: rgba(76, 155, 233, 0.519);}
  body p {
    margin: 0; }

.myDiv { 
  text-align: center;
  font-family:sans-serif; 
}   

.btn {
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background: #e2dfdf;
  font-weight: 100;  
  }
  .btn svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .btn rect {
    fill: none;
    stroke: #3700B3;
    stroke-width: 2; }
  .btn:focus {
    outline: none;}
  .btn:hover {           
    font-weight: 700;
    letter-spacing: 1px; }
    .btn:hover rect { }


.container {
  background-size: 200%, 200%;
  animation: gradient 10s ease infinite;
  overflow-x: hidden; }
  @media (max-width: 500px) {
    .container {
      overflow-x: auto; } }
  /*.container .header--container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000; }*/

    /*.container .header--container .logo-image {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
      height: 100%;
      background: #e6e3e3;
      padding: 10px;
      border: 3px solid black;
      border-radius: 5px; }
      @media (max-width: 768px) {
        .container .header--container .logo-image {
          transform: translateX(-50%) scale(0.7); } }*/
  .container .instruction--container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s; }
    .container .instruction--container .information {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      padding: 20px;
      font-size: 1.8rem;
      -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      text-align: center;
      background-color: #e6e3e3;
      z-index: 2; }
      @media (max-width: 700px) {
        .container .instruction--container .information {
          top: 450px;
          margin-bottom: 200px; } }
      @media (max-width: 400px) {
        .container .instruction--container .information {
          top: 400px;
          width: 80%; } }
      @media (max-width: 360px) {
        .container .instruction--container .information {
          top: 450px; } }
      .container .instruction--container .information .instruction--text {
        font-size: 1.4rem;
        margin-top: 10px;
        margin-bottom: 20px; }
      .container .instruction--container .information .instruction--text__footer {
        margin: 10px 0 20px 0;
        font-size: 1.4rem; }
      .container .instruction--container .information .button--continue {
        border: none;
        background-color: #e6e3e3;
        padding: 10px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer; }
  .container .crossword--container {
    position: relative;    
    width: 100vw;
    min-height: 100vh;
    opacity: 1;
    display: block;
    transition: opacity 1s;
    margin-right: 20px;
    flex-direction: column;
    overflow-x: auto; }
    .container .crossword--container .crossword {
      position: relative;  
      top: 10px; /*tu*/
      left: 73%; /*tu*/
      transform: translateX(-25%); }
      @media (max-width: 500px) {
        .container .crossword--container .crossword {
          transform: none; } }
      .container .crossword--container .crossword .answer {
        position: relative;
        display: flex;
        margin: 1px; }
        .container .crossword--container .crossword .answer .letter, .container .crossword--container .crossword .answer .main-letter, .container .crossword--container .crossword .answer .space {
          box-sizing: border-box;
          width: 34px;
          height: 34px;
          font-size: 1.8rem;
          text-align: center;
          text-transform: uppercase;
          border: 2px solid black;
          border-radius: 4px;
          padding: 0;
          margin: 0 1px;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media (max-width: 880px) {
            .container .crossword--container .crossword .answer .letter, .container .crossword--container .crossword .answer .main-letter, .container .crossword--container .crossword .answer .space {
              width: 20px;
              height: 20px;
              font-size: 1.1rem; } }
          @media (max-width: 550px) {
            .container .crossword--container .crossword .answer .letter, .container .crossword--container .crossword .answer .main-letter, .container .crossword--container .crossword .answer .space {
              width: 15px;
              height: 15px;
              font-size: .75rem; } }
        .container .crossword--container .crossword .answer .index {
          position: absolute;
          left: -25px;
          top: 50%;
          transform: translateY(-50%);
          color: white;
          font-size: 1.875rem; }
          @media (max-width: 550px) {
            .container .crossword--container .crossword .answer .index {
              font-size: 1rem;
              left: -25px !important; } }
        .container .crossword--container .crossword .answer .main-letter {
          border: 3px solid red; }
          @media (max-width: 500px) {
            .container .crossword--container .crossword .answer .main-letter {
              border: 2px solid red; } }
        .container .crossword--container .crossword .answer .good-letter {
          background: rgba(90, 224, 90, 0.676); }
        .container .crossword--container .crossword .answer .bad-letter {
          background: #f14c4c; }
        .container .crossword--container .crossword .answer .space {
          background: gray; }
  .container .questions--container {
    position: sticky;
    left: 0;
    margin: 30px auto 60px auto;
    width: 50%;
    min-width: 80px;
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #4b3d81, 10px 0px 13px -7px #4b3d81, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #4b3d81, 10px 0px 13px -7px #4b3d81, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 3px; }
    @media (max-width: 850px) {
      .container .questions--container {
        min-width: unset;
        width: 90%; } }
    .container .questions--container ol li {
      position: relative;       
      }
    .container .questions--container .hint {
      position: absolute;
      left: -50px;
      top: 0;
      color: blue;
      cursor: pointer;
      text-decoration: none; }
    .container .questions--container .button--finish {
      position: absolute; /*tu*/
      top: -47px;         /*tu*/
      right: 0;
      transform: translate(-50%, -50%);
      border: none;
      /*background: #e6e3e3;*/ }
      .container .questions--container .button--finish svg {
        height: 46.5px; }
  .container .crossword-completed-modal {
    display: none;
    z-index: 1001;
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffff;
    border-radius: 10px;
    -webkit-box-shadow: -10px 0px 13px -7px #4b3d81, 10px 0px 13px -7px #4b3d81, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #4b3d81, 10px 0px 13px -7px #4b3d81, 5px 5px 15px 5px rgba(0, 0, 0, 0); }
    @media (max-width: 700px) {
      .container .crossword-completed-modal {
        width: 99%; } }
    .container .crossword-completed-modal .modal-header {
      background: rgba(76, 155, 233, 0.519);;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .container .crossword-completed-modal .modal-header .close {
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
        font-size: 2rem; }
      .container .crossword-completed-modal .modal-header .modal-title {
        text-align: center;
        padding-top: 20px;
        font-size: 1.5rem; }
      .container .crossword-completed-modal .modal-header .modal-title-password {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 30px 0; }
    .container .crossword-completed-modal .modal-content {
      padding: 20px;
      font-size: 1.125rem;
      text-align: justify; }
      .container .crossword-completed-modal .modal-content .description {
        margin-bottom: 20px; }
      .container .crossword-completed-modal .modal-content a {
        text-decoration: none; }
    .container .crossword-completed-modal .modal-footer {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .crossword-completed-modal .modal-footer .button--close {
        background-color: #e6e3e3; 
        border: none;
        stroke: #3700B3;
        stroke-width: 2;
        }
        .container .crossword-completed-modal .modal-footer .button--close rect {
          /*stroke: blue; */}
  .container .footer--container {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(76, 155, 233, 0.519);}
    .container .footer--container .footer--container__small {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 90%;
      height: 100%;
      margin: 0 auto; }
      .container .footer--container .footer--container__small p {
        color: black; }
      .container .footer--container .footer--container__small a {
        color: black;
        text-decoration: none; }

@keyframes gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

