body {
	font-family: Fira Sans, sans-serif, Verdana, Arial, Helvetica;
	font-size: 10pt;
	color: #003868;
	background-color: rgb(220, 237, 253);
	margin: 6mm;
}

table, th, td  {
        margin-left:auto; 
        margin-right:auto;
        border-collapse:collapse;
        border:1px solid black;
        padding:5px;
        text-align: center;                
}

#div_okno_logowania {               
        margin-left: auto;
        margin-right: auto;
        width:200px;
        background:rgb(182, 210, 255);   
        border: 2px solid #17750c;
        border-radius: 30px;
        padding: 20px;       
}  

#div_blad_logowania{
        text-align: center;
}

#div_panel{
        background:rgb(182, 210, 255);       
}

#botton_zaloguj {
        margin-left: auto;
        margin-right: auto;        
        width:190px;
}

#botton_raport_1 {
        margin-left: auto;
        margin-right: auto;        
        width:150px;
}




