body {
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(159, 208, 248, 0.423);
}
h2{
color: #0959b4;
font-size: 30px;
}
h3{
color: #ee1040;
font-size: 30px;
}

.myDiv { 
  text-align: center;
  font-family:sans-serif;
 
}

.game-board {
    margin:30px auto;
    position: relative;
    background: rgb(226, 241, 244);
    overflow: hidden;
    width: 550px;
    height: 444px;
    border: 2px solid #ddd;
}

.game-tile {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: #b2e9f7 url(images/title.png) center center no-repeat;
}

.game-tile:hover {
    background-color:#b2e9f7;
}

.game-score {
    text-align: center;
}

/* -------------------------------------------------- */
button.button,
input[type=button].button,
input[type=submit].button {
    display: block;
    max-width: 20em;
    text-align: center;
    padding: 1.3em 3em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    margin: 2em auto;
    background: #0959b4;
    border-radius: 0.2em;
    line-height: 1.1em;
    text-shadow: none;
    transition: 0.5s background-color, 0.5s box-shadow;
    box-shadow: 0 2px 5px #b2e9f7;
    border:0;
    cursor: pointer;
}
