
* {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 0;
  transition: all, 0.5s, linear;
  -webkit-transition: all, 0.5s, linear;
  -moz-transition: all, 0.5s, linear;
  -o-transition: all, 0.5s, linear;
  -ms-transition: all, 0.5s, linear;
}
.container{
  width: 700px;
  height: 700px;
  border: 2px solid grey;
  margin: 0 auto;
  display: block;
}
.row {
   margin: 0;
   padding: 0;
   display: flex;
   &amp::after {
       content: '';
       clear: both;
       display: block;
   }
}
body {
  background: #f1f3f5;
}
.start{
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1.5em;
}
.score{
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
}
.main {

}
.box, .boxForFuture{
  width: 70px;
  height: 70px;
  border: 2px solid grey;
}
.future{
  margin: 1em auto;
  display: flex;
  justify-content:center;
}
.future span{
  display: inline-flex;
  height: 70px;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  padding: 0.75em;
  border: 2px solid grey;
  margin: 0;
}
.boxForFuture{
  margin: 0;
  border-left: 0;
  display: inline-flex;
}


.ball1, .ball2, .ball3, .ball4, .ball5{
  position: relative;

  /*top:-18px;*/
  width: 65px;
  height: 65px;
  background-color: orange;
  border-radius: 100%;
}
.ball1{
  background-color: #ff1744; /*czerowne*/
}
.ball2{
  background-color: #6200ea; /*fioletowe*/
}
.ball3{
  background-color: #00b0ff; /*niebieskie*/
}
.ball4{
  background-color: #558b2f; /*zielony*/
}
.ball5{
  background-color: #ffc400; /*zolty*/
}

@-webkit-keyframes mymove {
  0% {opacity: 0.5;}
  50% {opacity:   1;}
  100% {opacity: 0.5;}
}

/* Standard syntax */
@keyframes mymove {
  0% {opacity: 0.5;}
  50% {opacity:   1;}
  100% {opacity: 0.5;}
}

.--active{
  -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 1s infinite;
}
/*  RWD na przyszłość
@media screen and (max-width: 425px) {
    .main {
        width:500px;
        height: 500px
    }
    .box, .boxForFuture{
      width: 50px;
      height: 50px;
    }
    .future span{
      height: 50px;
      padding: 0.75em;
      font-size: 1em;
    }
    .ball{
      width: 46px;
      height: 46px;
    }

}*/
